<h3>Contents</h3>
<ul class="list-group">
    {{#each prompts}}
        {{#unless hideInContents}}
		<li class="list-group-item" label="{{_branch_label_enclosing_screen}}">
            <a class="select-contents-item-btn">
				{{#if display.title}}
					<h3>{{#if display.title}}{{{localize display.title}}}{{/if}}</h3>
				{{else}}
					<h3>{{#if display.text}}{{{localize display.text}}}{{/if}}</h3>
				{{/if}}
                <p>{{formattedValueForContentsDisplay}}</p>
            </a>
		</li>
        {{/unless}}
    {{else}}
        <li><span>No prompts</span></li>
    {{/each}}
</ul>