<div>
    <div>
        <center><img src="{{ headerImg }}" class="odk-formlogo" /></center>
        <hr>
    </div>

    <div>
        <center><p>ODK SURVEY</p></center>
        <hr>
    </div>

    <div>
        <p>Form Name: {{localize form_title}}</p>
        <p>Form Version: {{#if form_version}}{{form_version}}{{/if}}</p>
        <hr>
    </div>

    <div class="instanceClearDiv"></div>

    <div>
        <p>You are at the start of Instance: </p>
        <p>"{{display_field}}"</p> 
        <hr>
        <!--
        <p>Swipe the screen as shown below to begin.</p>
        <div>
            <span style="width:0;float:left;">
                <img src="{{ backupImg }}"/>
                <p style="white-space: nowrap;">Previous prompt</p>
            </span>
            <span style="float:right;">
                <img src="{{ advanceImg }}"/>
                <p>Next prompt</p>
            </span>
        </div>
        -->
        {{#if last_save_date}}
            <p>Last saved:</p> 
            <p>{{last_save_date}}</p>
        {{/if}}
        <hr>
        <fieldset class="openingNew">
            <div class="row">
                <div class="col-xs-8">
                    Go to next prompt
                </div>
                <div class="col-xs-4">
                    <button class="odk-next-btn btn btn-default" type="button">
                        <span class="glyphicon glyphicon-chevron-right" style="font-size:20px;"></span>
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
</div>