<ul>
    <li><label for="{{name}}">{{localize label}}</label></li>
    <li>
        <input type="text" name="{{name}}" value="{{mediaPath}}" disabled="true" />
    </li>
    <li><button class="whiteButton">Capture Audio</button></li>
    <li><div class="mediaContainer">
        {{#if uriValue}}
            <img width="200" src="{{uriValue}}"></img>
        {{/if}}
    </div></li>
</ul>