<div class="{{#if hide}}odk-hidden{{/if}}">
    {{> labelHint}}
    <div class="input-container">{{! used to prevent swiping on sliders}}
    <input
        class="odk"
        type="{{type}}" 
        name="{{name}}"
        min="{{min}}" max="{{max}}"
        value="{{value}}"
        {{#if disabled}}
            style="background-color:lightgray;"
            disabled="true"
        {{/if}}
        />
        {{#if invalid}}
            <p>invalid</p>
        {{/if}}
    </div>
</div>