<ul>
    <li><label for="{{name}}">{{localize label}}</label></li>
    <li><input type="text" name="{{name}}" value="{{value}}"
        {{#if disabled}}
            disabled="true"
        {{/if}}
        />
        {{#if invalid}}
            <p>invalid</p>
        {{/if}}
    </li>
    <li><button class="whiteButton">Take Picture</button></li>
    <li><div class="mediaContainer">
        {{#if uriValue}}
            <img width="200" src="{{uriValue}}"></img>
        {{/if}}
    </div></li>
</ul>