<form>
    <fieldset>
        <legend>{{> labelHint}}</legend>
        {{#each choices}}
            <input
                {{#if ../selectOne}}
                    type="radio"
                {{else}}
                    type="checkbox"
                {{/if}}
                {{#if checked}}
                    checked
                {{/if}}
                name="{{name}}"
                id="{{name}}"
                value="{{value}}" />
            <label for="{{name}}">{{localize label}}</label>
            
        {{/each}}
        {{#if orOther}}

                <input
                    {{#if selectOne}}
                        type="radio"
                    {{else}}
                        type="checkbox"
                    {{/if}}
                    {{#if checked}}
                        checked
                    {{/if}}
                    name="{{name}}"
                    value="{{otherValue}}" />
                <input
                    name="{{name}}OtherValue"
                    value="{{otherValue}}" 
                    {{#unless other.selected}}
                        disabled="true"
                    {{/unless}} />

        {{/if}}
    </fieldset>
</form>