<ul data-role="listview">
    {{#each prompts}}
        {{#unless hideInHierarchy}}
            {{#if prompts}}
            <li>
                <h3><a href="{{promptLink promptIdx}}">Group</a></h3>
            </li>
            {{else}}
                {{#if name}}
                <li>
                    <h3><a href="{{promptLink promptIdx}}">{{name}}</a>: {{getValue}}</h3>
                    <p>{{localize label}}</p>
                </li>
                {{/if}}
            {{/if}}
        {{/unless}}
    {{else}}
        <li><span>No prompts</span></li>
    {{/each}}
</ul>