{{#if image}}
    <div>
        <img width="100%" src="{{formDirectory}}{{localize image}}"></img>
    </div>
{{/if}}
{{#if audio}}
    <div>
        <audio controls="controls">
            <source src="{{formDirectory}}{{localize audio}}" type="audio/ogg" />
            Your browser does not support the audio element.
        </audio>
    </div>
{{/if}}
{{#if video}}
    <div>
        <video controls="controls">
            <source src="{{formDirectory}}{{localize video}}" type="video/ogg" />
            Your browser does not support the video element.
        </video>
    </div>
{{/if}}
{{#if label}}
    <big><p>
        {{#substitute}}{{localize label}}{{/substitute}}
    </p></big>
{{/if}}
{{#if hint}}
    <i><p class="odk-hint">{{#substitute}}{{localize hint}}{{/substitute}}</p></i>
{{/if}}