{{#if image}}
    <div>
        <img width="100%" src="{{formDirectory}}{{localize image}}"></img>
    </div>
{{/if}}
{{#if audio}}
    <div>
        <audio controls="controls">
            <source src="{{formDirectory}}{{localize audio}}" type="audio/ogg" />
            Your browser does not support the audio element.
        </audio>
    </div>
{{/if}}
{{#if video}}
    <div>
        <video controls="controls">
            <source src="{{formDirectory}}{{localize video}}" type="video/ogg" />
            Your browser does not support the video element.
        </video>
    </div>
{{/if}}
{{#if label}}
    <p class="odk-label">
        {{#substitute}}{{localize label}}{{/substitute}}
    </p>
{{/if}}
{{#if hint}}
    <p class="odk-hint">
        {{#substitute}}{{localize hint}}{{/substitute}}
    </p>
{{/if}}