<form>
    {{> labelHint}}
    <fieldset data-role="controlgroup"
        {{#eachProperty htmlAttributes}}
            {{property}}="{{value}}"
        {{/eachProperty}}
        >
        {{#each choices}}
            <label>
                <input
                    {{#if ../select_one}}
                        type="radio"
                    {{else}}
                        type="checkbox"
                    {{/if}}
                    {{#if checked}}
                        checked="checked"
                    {{/if}}
                    {{! the name attribue has to be the same for all the options}}
                    name="{{../name}}"
                    id="{{name}}"
                    value="{{name}}" />
            {{#if image}}
                <div>
                    <img src="{{formDirectory}}{{localize image}}"></img>
                </div>
            {{/if}}
            {{#if label}}
                {{#substitute}}{{localize label}}{{/substitute}}
            {{/if}}
            </label>
        {{/each}}
        {{#if or_other}}
                <input
                    {{#if select_one}}
                        type="radio"
                    {{else}}
                        type="checkbox"
                    {{/if}}
                    {{#if other.checked}}
                        checked
                    {{/if}}
                    name="{{name}}Other"
                    id="other"
                    value="other" />
                <label for="other">
                    Other:
                    <div><input
                        name="{{name}}OtherValue"
                        value="{{other.value}}"
                        style="height:36px;position:initial;"
                        {{#unless other.checked}}
                            disabled="true"
                        {{/unless}} /></div>
                </label>
        {{/if}}
        {{#if select_one}}
            <a data-role="button" class="deselect">Deselect</a>
        {{/if}}
    </fieldset>
</form>