<h3>Contents</h3>
<ul data-role="listview"><!-- this is completely wrong - should not use promptLink - should have screenPath of prompt and goto that path. -->
    {{#each prompts}}
        {{#unless hideInContents}}
            {{#if prompts}}
            <li>
                <h3><a href="{{promptLink promptIdx}}">Group</a></h3>
            </li>
            {{else}}
                {{#if name}}
                <li>
                    <div class="select-contents-item" label="{{_branch_label_enclosing_screen}}">
                        {{#if display.text}}
                            {{#substitute}}{{localize display.text}}  {{getValue}}{{/substitute}}
                        {{/if}}
                        <a class="select-contents-item-btn" data-role="button" data-icon="arrow-r" data-iconpos="right" data-inline="true">edit</a>
                    </div>
                </li>
                {{/if}}
            {{/if}}
        {{/unless}}
    {{else}}
        <li><span>No prompts</span></li>
    {{/each}}
</ul>