<h3>Contents</h3>
<ul data-role="listview">
    {{#each prompts}}
        {{#unless hideInContents}}
		<li>
			<div class="select-contents-item" label="{{_branch_label_enclosing_screen}}">
				{{#if display.title}}
					{{#substitute}}{{localize display.title}} {{/substitute}}{{formattedValueForContentsDisplay}}
				{{else}}
					{{#if display.text}}{{#substitute}}{{localize display.text}} {{/substitute}}{{/if}}{{formattedValueForContentsDisplay}}
				{{/if}}
				{{! if the prompt has a data field, display edit, otherwise display go to}}
				{{#if name}}
					<a class="select-contents-item-btn" data-role="button" data-icon="arrow-r" data-iconpos="right" data-inline="true">edit</a>
				{{else}} 
					<a class="select-contents-item-btn" data-role="button" data-icon="arrow-r" data-iconpos="right" data-inline="true">go to</a>
				{{/if}}
			</div>
		</li>
        {{/unless}}
    {{else}}
        <li><span>No prompts</span></li>
    {{/each}}
</ul>