<div id="container-{{promptId}}">
    <form action="javascript:void(0);" onsubmit="odkLeaveField(this);">
        <div class="form-group">
            {{> labelHint}}
            <input class="form-control" type="text" name="{{name}}" value="{{mediaPath}}"
                style="background-color:lightgray;" tabindex="0"
                disabled="true"
            >
            {{#if invalid}}
                <p>{{localizeText display.invalid_value_message}}</p>
            {{/if}}
	        {{#ifHasLocalization display.new_button_label}}<button type="button" class="captureAction btn btn-default btn-lg" tabindex="1">{{localizeText display.new_button_label}}</button>{{/ifHasLocalization}}
	        {{#ifHasLocalization display.pick_button_label}}<button type="button" class="chooseAction btn btn-default btn-lg" tabindex="2">{{localizeText display.pick_button_label}}</button>{{/ifHasLocalization}}
        </div>
    </form>

    <div class="mediaContainer">
        {{#if uriFragmentValue}}
            <audio id="{{safeIdentity}}" src="{{mediaPath}}" type="{{contentType}}" tabindex="3"
                    audio="true" controls="controls">{{localizeText 'audio_control_not_supported'}}</audio>
        
        {{/if}}
    </div>
</div>