<div id="container-{{promptId}}">
    <form action="javascript:void(0);" onsubmit="odkLeaveField(this);">
        <div class="form-group">
            <label for="slider-{{promptId}}">{{> labelHint}}</label>
            <div class="input-container">{{! used to prevent swiping on sliders}}
                <input id="slider-{{promptId}}"
                    class="form-control"
                    name="{{name}}"
                    value="{{value}}"
		            tabindex="0"
                    {{#eachProperty inputAttributes}}
                        {{property}}="{{value}}"
                    {{/eachProperty}}
                    {{#if disabled}}
                        style="background-color:lightgray;"
                        disabled="true"
                    {{/if}}
                >
                {{#if isSlider}}
                    {{#unless disabled}}
                        <div class="value-box" id="value-{{promptId}}" style="width:{{boxWidth}}px">{{value}}</div>
                    {{/unless}}
                {{/if}}
            </div>
        </div>
    </form>
</div>