<div class="odk-screen{{#unless disableSwipeNavigation}}{{#if enableNavigation}}{{#if enableForwardNavigation}} swipeForwardEnabled{{/if}}{{#if enableBackNavigation}} swipeBackEnabled{{/if}}{{/if}}{{/unless}}" >
    {{#if showHeader}}
        <div class="row odk-header container">
            <div class="my-breakpoint {{#if hideNavigationButtonText}}my-breakpoint-no-nav-btn-text{{/if}}">
                <div class="col-xs-6">
                    <button type="button" class="odk-options-btn btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" tabindex="0">
                        <span>{{localizeText form_title}}</span>
                    </button>
                </div>
                <div class="col-xs-3 odk-header-back-btn">
                    <a class="odk-prev-btn btn btn-default btn-lg navbar-btn {{#unless enableBackNavigation}}disabled{{/unless}}" tabindex="0">
                    {{#unless hideNavigationButtonText}}<span class="glyphicon glyphicon-chevron-left" style="float:left"></span> {{localizeText 'back_button_label'}}{{/unless}}</a> 
                </div>
                <div class="col-xs-3 odk-next-btn">   
                    <a class="odk-next-btn btn btn-default btn-lg navbar-btn {{#unless enableForwardNavigation}}disabled{{/unless}}" tabindex="0">
                    {{#unless hideNavigationButtonText}}{{#if showAsContinueButton}}{{localizeText 'continue_button_label'}}{{else}}{{localizeText 'next_button_label'}}{{/if}} <span class="glyphicon glyphicon-chevron-right" style="float:right"></span>{{/unless}}</a>               
                </div>
            </div>
        </div>
    {{/if}}
    <div class="odk-scroll"><div class="odk-container container"></div>
</div>
   
  
<div data-role="content" class="odk-scroll"><div class="odk-container">  
<div id="coverageContainer" class="refrigerator-container">

<h3>
    <span>Child Coverage</span>
</h3>

<div class="facility-distribution-form-table coverage-table screen-overflow">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-complete-vaccinated" id="vaccination" rowspan="2">Child Vaccinations (doses)</th>
                <th class="col-complete-vaccinated" id="targetGroup" rowspan="2">Target Group</th>
                <th class="col-complete-vaccinated center-justified" id="childrenAgeGroup1" colspan="3">0-11 months</th>
                <th class="col-complete-vaccinated" id="coverageRate" rowspan="2">Coverage Rate</th>
                <th class="col-complete-vaccinated" id="childrenAgeGroup2" colspan="3">12-23 months</th>
                <th class="col-complete-vaccinated" id="totalVaccination" rowspan="2">Total Vaccination</th>
                <th class="col-complete-vaccinated" id="openedVials" rowspan="2">Opened Vials</th>
                <th class="col-complete-vaccinated" id="openedVialsWastageRate" rowspan="2">Opened Vials Wastage Rate</th>
            </tr>
            <tr>
                <th class="col-complete-vaccinated" id="categoryOneHealthCenter">Health Center</th>
                <th class="col-complete-vaccinated" id="categoryOneMobileBrigade">Outreach</th>
                <th class="col-complete-vaccinated" id="categoryOneTotal">Total</th>
                <th class="col-complete-vaccinated" id="categoryTwoHealthCenter">Health Center</th>
                <th class="col-complete-vaccinated" id="categoryTwoMobileBrigade">Outreach</th>
                <th class="col-complete-vaccinated" id="categoryTwoTotal">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-complete-vaccinated">
                    <span id="colBCG">BCG</span>
                </td>
                <td class="col-complete-vaccinated col-target-group" id="target0">
                    <span></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="BCG_0_11_HealthCenter"></div>
                    <div field-name="BCG_HC_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="BCG_0_11_Outreach"></div>
                    <div field-name="BCG_O_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total00" field-name="BCG_0_11_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-coverage-rate">
                    <span id="coverageRateCalculated0"></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="BCG_12_23_HealthCenter"></div>
                    <div field-name="BCG_HC_NR_checkbox2"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="BCG_12_23_Outreach"></div>
                    <div field-name="BCG_O_NR_checkbox2"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total10" field-name="BCG_12_23_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total20" field-name="Total_BCG"></div>
                </td>
                <td class="col-complete-vaccinated opened-vials" rowspan="1">
                    <div id="BCGContainer">
                        <span id="BCG">BCG</span>
                        <div class="input-error-parent-cell" field-name="BCG_OpenedVials"></div>
                        <div field-name="BCG_OV_NR_checkbox"></div>
                    </div>
                </td>
                <td class="col-complete-vaccinated col-opened-vial" rowspan="1">
                    <span id="wastageRateCalculated0"></span>
                </td>
            </tr>
            <tr>
                <td class="col-complete-vaccinated">
                    <span id="colPolio (Newborn)">Polio (Newborn)</span>
                </td>
                <td class="col-complete-vaccinated col-target-group" id="target1">
                    <span></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Polio_Newborn_0_11_HealthCenter"></div>
                    <div field-name="PN_HC_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Polio_Newborn_0_11_Outreach"></div>
                    <div field-name="PN_O_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total01" field-name="Polio_Newborn_0_11_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-coverage-rate">
                    <span id="coverageRateCalculated1"></span>
                </td>
                <td class="col-complete-vaccinated">
                    <span></span>
                </td>
                <td class="col-complete-vaccinated">
                    <span></span>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total11"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total21" field-name="Total_Polio_Newborn"></div>
                </td>
                <td class="col-complete-vaccinated opened-vials" rowspan="4">
                    <div id="Polio10Container">
                        <span id="Polio10">Polio10</span>
                            <div class="input-error-parent-cell" field-name="Polio10_OpenedVials"></div>
                    </div>
                    <div id="Polio20Container">
                        <span id="Polio20">Polio20</span>
                          <div class="input-error-parent-cell" field-name="Polio20_OpenedVials"></div>
                          <div field-name="P20_OV_NR_checkbox"></div>
                    </div>
                </td>
                <td class="col-complete-vaccinated col-opened-vial" rowspan="4">
                    <span id="wastageRateCalculated1"></span>
                </td>
            </tr>
            <tr>
                <td class="col-complete-vaccinated">
                    <span id="colPolio 1st dose">Polio 1st dose</span>
                </td>
                <td class="col-complete-vaccinated col-target-group" id="target2">
                    <span></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Polio_Dose1_0_11_HealthCenter"></div>
                    <div field-name="P1_HC_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Polio_Dose1_0_11_Outreach"></div>
                    <div field-name="P1_O_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total02" field-name="Polio_Dose1_0_11_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-coverage-rate">
                    <span id="coverageRateCalculated2"></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Polio_Dose1_12_23_HealthCenter"></div>
                    <div field-name="P1_HC_NR_checkbox2"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Polio_Dose1_12_23_Outreach"></div>
                    <div field-name="P1_O_NR_checkbox2"></div>
                </span>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total12" field-name="Polio_Dose1_12_23_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total22" field-name="Total_Polio_Dose1"></div>
                </td>
            </tr>
            <tr>
                <td class="col-complete-vaccinated">
                    <span id="colPolio 2nd dose">Polio 2nd dose</span>
                </td>
                <td class="col-complete-vaccinated col-target-group" id="target3">
                    <span></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Polio_Dose2_0_11_HealthCenter"></div>
                    <div field-name="P2_HC_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Polio_Dose2_0_11_Outreach"></div>
                    <div field-name="P2_O_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total03" field-name="Polio_Dose2_0_11_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-coverage-rate">
                    <span id="coverageRateCalculated3"></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Polio_Dose2_12_23_HealthCenter"></div>
                    <div field-name="P2_HC_NR_checkbox2"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Polio_Dose2_12_23_Outreach"></div>
                    <div field-name="P2_O_NR_checkbox2"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total13" field-name="Polio_Dose2_12_23_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total23" field-name="Total_Polio_Dose2"></div>
                </td>
            </tr>
            <tr>
                <td class="col-complete-vaccinated">
                    <span id="colPolio 3rd dose">Polio 3rd dose</span>
                </td>
                <td class="col-complete-vaccinated col-target-group" id="target4">
                    <span></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Polio_Dose3_0_11_HealthCenter"></div>
                    <div field-name="P3_HC_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Polio_Dose3_0_11_Outreach"></div>
                    <div field-name="P3_O_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total04" field-name="Polio_Dose3_0_11_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-coverage-rate">
                    <span id="coverageRateCalculated4"></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Polio_Dose3_12_23_HealthCenter"></div>
                    <div field-name="P3_HC_NR_checkbox2"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Polio_Dose3_12_23_Outreach"></div>
                    <div field-name="P3_O_NR_checkbox2"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total14" field-name="Polio_Dose3_12_23_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total24" field-name="Total_Polio_Dose3"></div>
                </td>
            </tr>
            <tr>
                <td class="col-complete-vaccinated">
                    <span id="colPenta 1st dose">Penta 1st dose</span>
                </td>
                <td class="col-complete-vaccinated col-target-group" id="target5">
                    <span></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Penta_Dose1_0_11_HealthCenter"></div>
                    <div field-name="Pe1_HC_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Penta_Dose1_0_11_Outreach"></div>
                    <div field-name="Pe1_O_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total05" field-name="Penta_Dose1_0_11_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-coverage-rate">
                    <span id="coverageRateCalculated5"></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Penta_Dose1_12_23_HealthCenter"></div>
                    <div field-name="Pe1_HC_NR_checkbox2"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Penta_Dose1_12_23_Outreach"></div>
                    <div field-name="Pe1_O_NR_checkbox2"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total15" field-name="Penta_Dose1_12_23_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total25" field-name="Total_Penta_Dose1"></div>
                </td>
                <td class="col-complete-vaccinated opened-vials" rowspan="3">
                    <div id="Penta1Container">
                        <span id="Penta1">Penta1</span>
                        <div class="input-error-parent-cell" field-name="Penta1_OpenedVials"></div>
                    </div>
                    <div id="Penta10Container">
                        <span id="Penta10">Penta10</span>
                        <div class="input-error-parent-cell" field-name="Penta10_OpenedVials"></div>
                        <div field-name="Penta10_OV_NR_checkbox"></div>
                    </div>
                </td>
                <td class="col-complete-vaccinated col-opened-vial" rowspan="3">
                    <span id="wastageRateCalculated5"></span>
                </td>
            </tr>
            <tr>
                <td class="col-complete-vaccinated">
                    <span id="colPenta 2nd dose">Penta 2nd dose</span>
                </td>
                <td class="col-complete-vaccinated col-target-group" id="target6">
                    <span></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Penta_Dose2_0_11_HealthCenter"></div>
                    <div field-name="Pe2_HC_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Penta_Dose2_0_11_Outreach"></div>
                    <div field-name="Pe2_O_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total06" field-name="Penta_Dose2_0_11_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-coverage-rate">
                    <span id="coverageRateCalculated6"></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Penta_Dose2_12_23_HealthCenter"></div>
                    <div field-name="Pe2_HC_NR_checkbox2"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Penta_Dose2_12_23_Outreach"></div>
                    <div field-name="Pe2_O_NR_checkbox2"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total16" field-name="Penta_Dose2_12_23_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total26" field-name="Total_Penta_Dose2"></div>
                </td>
            </tr>
            <tr>
                <td class="col-complete-vaccinated">
                    <span id="colPenta 3rd dose">Penta 3rd dose</span>
                </td>
                <td class="col-complete-vaccinated col-target-group" id="target7">
                    <span></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Penta_Dose3_0_11_HealthCenter"></div>
                    <div field-name="Pe3_HC_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Penta_Dose3_0_11_Outreach"></div>
                    <div field-name="Pe3_O_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total07" field-name="Penta_Dose3_0_11_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-coverage-rate">
                    <span id="coverageRateCalculated7"></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Penta_Dose3_12_23_HealthCenter"></div>
                    <div field-name="Pe3_HC_NR_checkbox2"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Penta_Dose3_12_23_Outreach"></div>
                    <div field-name="Pe3_O_NR_checkbox2"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total17" field-name="Penta_Dose3_12_23_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total27" field-name="Total_Penta_Dose3"></div>
                </td>
            </tr>
            <tr>
                <td class="col-complete-vaccinated">
                    <span id="colPCV10 1st dose">PCV10 1st dose</span>
                </td>
                <td class="col-complete-vaccinated col-target-group" id="target8">
                    <span></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="PCV10_Dose1_0_11_HealthCenter"></div>
                    <div field-name="Pc1_HC_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="PCV10_Dose1_0_11_Outreach"></div>
                    <div field-name="Pc1_O_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total08" field-name="PCV10_Dose1_0_11_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-coverage-rate">
                    <span id="coverageRateCalculated8"></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="PCV10_Dose1_12_23_HealthCenter"></div>
                    <div field-name="Pc1_HC_NR_checkbox2"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="PCV10_Dose1_12_23_Outreach"></div>
                    <div field-name="Pc1_O_NR_checkbox2"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total18" field-name="PCV10_Dose1_12_23_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total28" field-name="Total_PCV10_Dose1"></div>
                </td>
                <td class="col-complete-vaccinated opened-vials" rowspan="3">
                    <div id="PCVContainer">
                        <span id="PCV">PCV</span>
                        <div class="input-error-parent-cell" field-name="PCV_OpenedVials"></div>
                        <div field-name="PCV_OV_NR_checkbox"></div>
                    </div>
                </td>
                <td class="col-complete-vaccinated col-opened-vial" rowspan="3">
                    <span id="wastageRateCalculated8"></span>
                </td>
            </tr>
            <tr>
                <td class="col-complete-vaccinated">
                    <span id="colPCV10 2nd dose">PCV10 2nd dose</span>
                </td>
                <td class="col-complete-vaccinated col-target-group" id="target9">
                    <span></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="PCV10_Dose2_0_11_HealthCenter"></div>
                    <div field-name="Pc2_HC_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="PCV10_Dose2_0_11_Outreach"></div>
                    <div field-name="Pc2_O_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total09" field-name="PCV10_Dose2_0_11_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-coverage-rate">
                    <span id="coverageRateCalculated9"></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="PCV10_Dose2_12_23_HealthCenter"></div>
                    <div field-name="Pc2_HC_NR_checkbox2"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="PCV10_Dose2_12_23_Outreach"></div>
                    <div field-name="Pc2_O_NR_checkbox2"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total19" field-name="PCV10_Dose2_12_23_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total29" field-name="Total_PCV10_Dose2"></div>
                </td>
            </tr>
            <tr>
                <td class="col-complete-vaccinated">
                    <span id="colPCV10 3rd dose">PCV10 3rd dose</span>
                </td>
                <td class="col-complete-vaccinated col-target-group" id="target10">
                    <span></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="PCV10_Dose3_0_11_HealthCenter"></div>
                    <div field-name="Pc3_HC_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="PCV10_Dose3_0_11_Outreach"></div>
                    <div field-name="Pc3_O_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total010" field-name="PCV10_Dose3_0_11_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-coverage-rate">
                    <span id="coverageRateCalculated10"></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="PCV10_Dose3_12_23_HealthCenter"></div>
                    <div field-name="Pc3_HC_NR_checkbox2"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="PCV10_Dose3_12_23_Outreach"></div>
                    <div field-name="Pc3_O_NR_checkbox2"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total110" field-name="PCV10_Dose3_12_23_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total210" field-name="Total_PCV10_Dose3"></div>
                </td>
            </tr>
            <tr>
                <td class="col-complete-vaccinated">
                    <span id="colMeasles">Measles</span>
                </td>
                <td class="col-complete-vaccinated col-target-group" id="target11">
                    <span></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Measles_0_11_HealthCenter"></div>
                    <div field-name="Measles_HC_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Measles_0_11_Outreach"></div>
                    <div field-name="Measles_O_NR_checkbox1"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total011" field-name="Measles_0_11_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-coverage-rate">
                    <span id="coverageRateCalculated11"></span>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Measles_12_23_HealthCenter"></div>
                    <div field-name="Measles_HC_NR_checkbox2"></div>
                </td>
                <td class="col-complete-vaccinated">
                    <div class="input-error-parent-cell" field-name="Measles_12_23_Outreach"></div>
                    <div field-name="Measles_O_NR_checkbox2"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total111" field-name="Measles_12_23_sum"></div>
                </td>
                <td class="col-complete-vaccinated col-total">
                    <div id="total211" field-name="Total_Measles"></div>
                </td>
                <td class="col-complete-vaccinated opened-vials" rowspan="1">
                    <div id="MeaslesContainer">
                        <span id="Measles">Measles</span>
                        <div class="input-error-parent-cell" field-name="Measles_OpenedVials"></div>
                        <div field-name="Measles_OV_NR_checkbox"></div>
                    </div>
                </td>
                <td class="col-complete-vaccinated col-opened-vial" rowspan="1">
                    <span id="wastageRateCalculated11"></span>
                </td>
            </tr>
        </tbody>
    </table>

</div></div>
</div></div>
    
{{! emit the footer always -- so that we get full-screen content area }}
{{#if showFooter}} 
    <div class="row odk-footer container">
        <div class="my-breakpoint {{#if hideNavigationButtonText}}my-breakpoint-no-nav-btn-text{{/if}}">
            <div class="col-xs-3 odk-footer-back-btn ">
                <a class="odk-prev-btn btn btn-default btn-lg navbar-btn {{#unless enableBackNavigation}}disabled{{/unless}}" tabindex="0">
                {{#unless hideNavigationButtonText}}<span class="glyphicon glyphicon-chevron-left" style="float:left"></span> {{localizeText 'back_button_label'}}{{/unless}}</a> 
            </div>
            <div class="col-xs-6">

            </div>
            <div class="col-xs-3 odk-next-btn">   
                <a class="odk-next-btn btn btn-default btn-lg navbar-btn {{#unless enableForwardNavigation}}disabled{{/unless}}" tabindex="0" >
                {{#unless hideNavigationButtonText}}{{#if showAsContinueButton}}{{localizeText 'continue_button_label'}}{{else}}{{localizeText 'next_button_label'}}{{/if}} <span class="glyphicon glyphicon-chevron-right" style="float:right"></span>{{/unless}}</a>               
            </div>
        </div>
    </div>
{{/if}}