<form role="form">
<div class="form-group">
    {{> labelHint}}
    <input class="form-control" type="text" name="{{name}}" value="{{mediaPath}}"
            style="background-color:lightgray;"
            disabled="true"
        />
    {{#if invalid}}
        <p>invalid</p>
    {{/if}}
    <button type="button" class="captureAction btn btn-default btn-lg">Capture Audio</button>
    <button type="button" class="chooseAction btn btn-default btn-lg">Choose Audio</button>
</div>
</form>

<div class="mediaContainer">
    {{#if uriFragmentValue}}
        <{{#if pre4Android}}video{{else}}audio{{/if}} id="{{safeIdentity}}" src="{{mediaPath}}" type="{{contentType}}"  {{#if videoPoster}}poster="{{videoPoster}}"{{/if}}
                    audio="true"{{#if pre4Android}} onclick="play()"{{/if}} controls="controls">audio control not supported</{{#if pre4Android}}video{{else}}audio{{/if}}>
        
    {{/if}}
</div>