<h4>Contents</h4>
<div class="btn-group-vertical" style="display:block; padding:5px">
    {{#each prompts}}
        {{#unless hideInContents}}
            <a href="#" class="select-contents-item launch btn btn-default" role="button" label="{{_branch_label_enclosing_screen}}" style="padding:10px">
                {{#if display.title}}
                    <h4 class="contents-heading">{{#if display.title}}{{{localize display.title}}}{{/if}}</h4>
                {{else}}
                    {{#if display.text}}
                        <h4 class="contents-heading">
                            {{{localize display.text}}}
                        </h4>
                    {{/if}}
                {{/if}}
                <span class="glyphicon glyphicon-chevron-right pull-right center-in-contents"></span> 
                <p class="contents-description">{{formattedValueForContentsDisplay}}</p>
            </a>
        {{/unless}}
    {{/each}}
</div>