<div id="container-{{promptId}}">
    <form action="javascript:void(0);" onsubmit="odkLeaveField(this);"> 
        <div class="form-group">
            <div class="container">
                <label for="picker-{{promptId}}">{{> labelHint}}</label>
                <br />
                <input id="picker-{{promptId}}" 
                    type="text"
                    name="{{name}}"
                    value="{{value}}"
			        tabindex="0"
			        style="background-color:#ffffff"
                    {{#eachProperty inputAttributes}}
                        {{property}}="{{value}}"
                    {{/eachProperty}}
                    {{#if disabled}}
                        style="background-color:lightgray;"
                        disabled="true"
                    {{/if}}
                >
            </div>
        </div>
    </form>
</div>
