<div class="odk-screen{{#unless disableSwipeNavigation}}{{#if enableNavigation}}{{#if enableForwardNavigation}} swipeForwardEnabled{{/if}}{{#if enableBackNavigation}} swipeBackEnabled{{/if}}{{/if}}{{/unless}}" >
    {{#if showHeader}}
        <div class="row odk-header container navbar-fixed-top">
            <div class="my-breakpoint {{#if hideNavigationButtonText}}my-breakpoint-no-nav-btn-text{{/if}}">
                <div class="col-xs-6">
                    <button type="button" class="odk-options-btn btn btn-default btn-lg odk-navbar-btn" data-toggle="modal" data-target="#myModal" tabindex="0">
                        <span>{{localizeText form_title}}</span>
                    </button>
                </div>
                <div class="col-xs-3 odk-header-back-btn">
                    <a class="odk-prev-btn btn btn-default btn-lg odk-navbar-btn {{#unless enableBackNavigation}}disabled{{/unless}}" tabindex="0">
                    {{#unless hideNavigationButtonText}}<span class="glyphicon glyphicon-chevron-left" style="float:left"></span> {{localizeText 'back_button_label'}}{{/unless}}</a>
                </div>
                <div class="col-xs-3 odk-header-next-btn">
                    <a class="odk-next-btn btn btn-default btn-lg odk-navbar-btn {{#unless enableForwardNavigation}}disabled{{/unless}}" tabindex="0">
                    {{#unless hideNavigationButtonText}}<span class="glyphicon glyphicon-chevron-right" style="float:right"></span>{{#if showAsContinueButton}}{{localizeText 'continue_button_label'}}{{else}}{{localizeText 'next_button_label'}}{{/if}}{{/unless}}</a>
                </div>
            </div>
        </div>
    {{/if}}

    <!-- Using navbar-fixed-top or navbar-fixed-bottom requires padding -->
    <!-- https://getbootstrap.com/docs/3.3/components/#navbar-fixed-top -->
    <div class="odk-scroll" style="{{#if showHeader}}padding-top: 80px;{{/if}} {{#if showFooter}}padding-bottom: 80px{{/if}}">
        <div class="odk-container container"></div>
    </div>

{{#if showFooter}}
    <div class="row odk-footer container navbar-fixed-bottom">
        <div class="my-breakpoint {{#if hideNavigationButtonText}}my-breakpoint-no-nav-btn-text{{/if}}">
            <div class="col-xs-3 odk-footer-back-btn ">
                <a class="odk-prev-btn btn btn-default btn-lg odk-navbar-btn {{#unless enableBackNavigation}}disabled{{/unless}}" tabindex="0">
                {{#unless hideNavigationButtonText}}<span class="glyphicon glyphicon-chevron-left" style="float:left"></span> {{localizeText 'back_button_label'}}{{/unless}}</a>
            </div>
            <div class="col-xs-6">

            </div>
            <div class="col-xs-3 odk-footer-next-btn">
                <a class="odk-next-btn btn btn-default btn-lg odk-navbar-btn {{#unless enableForwardNavigation}}disabled{{/unless}}" tabindex="0" >
                {{#unless hideNavigationButtonText}}<span class="glyphicon glyphicon-chevron-right" style="float:right"></span>{{#if showAsContinueButton}}{{localizeText 'continue_button_label'}}{{else}}{{localizeText 'next_button_label'}}{{/if}}{{/unless}}</a>
            </div>
        </div>
    </div>
{{/if}}

</div>
