<div id="container-{{promptId}}">
    {{#if passiveError}}
        <div>
            {{passiveError}}
        </div>
    {{/if}}
    <form action="javascript:void(0);" onsubmit="odkLeaveField(this);">
        {{> labelHint}}
        <table class="table table-bordered">
            <tbody>
            {{#each choices}}
                {{#if isFirstInRow}}
                    <tr>
                {{/if}}  
                        <td class="grid-select-item"
                            {{#if checked}}
                                style="background-color:black;"
                            {{else}}
                                style="background-color:white;"
                            {{/if}}>
                
                            <input
                                {{#if ../select_one}}
                                    type="radio"
                                {{else}}
                                    type="checkbox"
                                {{/if}}
                                {{#if checked}}
                                    checked="checked"
                                {{/if}}
                                
                                {{! the name attribute has to be the same for all the options}}
                                name="{{../name}}"
                                id="{{data_value}}"
                                value="{{data_value}}"
                                tabindex="0">
		   {{#ifHasImageLocalization display.title}}<center><img src="{{localizeImage display.title}}"></img></center>{{/ifHasImageLocalization}}

		   {{#ifHasAudioLocalization display.title}}<div><audio src="{{localizeAudio display.title}}" tabindex="0"

			  audio="true" controls="controls">{{localizeText 'audio_control_not_supported'}}</audio></div>{{/ifHasAudioLocalization}}

		   {{#ifHasVideoLocalization display.title}}<div><video src="{{localizeVideo display.title}}" tabindex="0"

			  video="true" controls="controls">{{localizeText 'video_control_not_supported'}}</video></div>{{/ifHasVideoLocalization}}

		   {{#ifHasTextLocalization display.title}}{{{localizeText display.title}}}{{/ifHasTextLocalization}}

                        </td>
                {{#if isLastInRow}}
                    </tr><!-- row -->
                {{/if}}

            {{/each}}
            </tbody>
        </table><!-- container -->
        {{#unless required}}
            {{#if display.deselect}}
                <div style="clear:both;"></div>
                <a data-role="button" data-mini="true" class="deselect" tabindex="0">{{localize display.select_deselect_label}}</a>
            {{/if}}
        {{/unless}}
        <div style="clear:both;"></div>
    </form>
</div>
