<div id="container-{{promptId}}">
    {{#if passiveError}}
        <div>
            {{passiveError}}
        </div>
    {{/if}}
    <form action="javascript:void(0);" onsubmit="odkLeaveField(this);">
        <div class="form-group">
        {{> labelHint}}
        <fieldset
            {{#eachProperty inputAttributes}}
                {{property}}="{{value}}"
            {{/eachProperty}}>

            {{#each choices}}
                    <label class="btn btn-default btn-lg select-label" 
                        {{#unless checked}}
                            {{#if display.fontColor.default}}
                                {{#if display.backgroundColor.default}}
                                    style="background-color:{{display.backgroundColor.default}};border-color:{{display.backgroundColor.default}};color:{{display.fontColor.default}};text-shadow:0 0px 0 {{display.fontColor.default}};"
                                {{else}}
                                    style="color:{{display.fontColor.default}};text-shadow:0 0px 0 {{display.fontColor.default}};"
                                {{/if}}
                            {{else}}
                                {{#if display.backgroundColor.default}} 
                                    style="background-color:{{display.backgroundColor.default}};border-color:{{display.color}};"
                                {{/if}}
                            {{/if}}
                        {{else}}
                            {{#if display.fontColor.selected}}
                                {{#if display.backgroundColor.selected}}
                                    style="background-color:{{display.backgroundColor.selected}};border-color:{{display.backgroundColor.selected}};color:{{display.fontColor.selected}};text-shadow:0 0px 0 {{display.fontColor.selected}};"
                                {{else}}
                                    {{#if display.backgroundColor.default}}
                                        style="color:{{display.fontColor.selected}};text-shadow:0 0px 0 {{display.fontColor.selected}};background-color:{{display.backgroundColor.default}};border-color:{{display.backgroundColor.default}};"
                                    {{else}}
                                        style="color:{{display.fontColor.selected}};text-shadow:0 0px 0 {{display.fontColor.selected}};"
                                    {{/if}} 
                                {{/if}}
                            {{else}}
                                {{#if display.backgroundColor.selected}}
                                    {{#if display.fontColor.default}}
                                        style="background-color:{{display.backgroundColor.selected}};border-color:{{display.backgroundColor.selected}};color:{{display.fontColor.default}};text-shadow:0 0px 0 {{display.fontColor.default}};"
                                    {{else}}
                                        style="background-color:{{display.backgroundColor.selected}};border-color:{{display.backgroundColor.selected}};"
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        {{/unless}}>
                    
                        <input class="select-input"
                            {{#if ../select_one}}
                                type="radio"
                            {{else}}
                                type="checkbox"
                            {{/if}}
                            {{#if checked}}
                                checked="checked"
                            {{/if}}
                            
                            {{! the name attribute has to be the same for all the options}}
                            name="{{../name}}"
                            id="{{data_value}}"
                            value="{{data_value}}" 
                            tabindex="0"
                        >
               {{#ifHasImageLocalization display.title}}<div><img src="{{localizeImage display.title}}"></img></div>{{/ifHasImageLocalization}}
               {{#ifHasAudioLocalization display.title}}<div><audio src="{{localizeAudio display.title}}" tabindex="0"
                  audio="true" controls="controls">{{localizeText 'audio_control_not_supported'}}</audio></div>{{/ifHasAudioLocalization}}
               {{#ifHasVideoLocalization display.title}}<div><video src="{{localizeVideo display.title}}" tabindex="0"
                  video="true" controls="controls">{{localizeText 'video_control_not_supported'}}</video></div>{{/ifHasVideoLocalization}}
               {{#ifHasTextLocalization display.title}}<span class="select-text">{{{localizeText display.title}}}</span>{{/ifHasTextLocalization}}
                    </label>
            
            {{/each}}
            {{#if withOther}}
                <label class="btn btn-default btn-lg select-label">
                    <input class="select-input"
                        {{#if select_one}}
                            type="radio"
                        {{else}}
                            type="checkbox"
                        {{/if}}
                        {{#if other.checked}}
                            checked="checked"
                        {{/if}}
                        name="{{name}}"
                        id="other"
                        value="other"
                        tabindex="0">
                        <label for="other" style="float:left">
                            <span class="select-text">{{localizeText 'select_with_other_other_label'}}</span>
                            {{#if other.checked}}
                            <input class="input-other"
                                name="otherValue"
                                value="{{other.value}}"
                                tabindex="0">
                            {{/if}}
                        </label>
                </label>
            {{/if}}
        </fieldset>
        {{#unless required}}
            {{#if display.deselect}}
                <div style="clear:both;"></div>
                <a data-role="button" data-mini="true" class="deselect" tabindex="0">{{localize display.select_deselect_label}}</a>
            {{/if}}
        {{/unless}}
        <div style="clear:both;"></div>
        </div><!-- form-group -->
    </form>
</div>
