{{#if passiveError}}
    <div>
        {{passiveError}}
    </div>
{{/if}}
<form action="javascript:void(0);" onsubmit="odkLeaveField(this);">
    {{> labelHint}}
    <select class="form-control" name="{{name}}" tabindex="0">  
        <option selected disabled>{{{localizeText display.select_one_dropdown_label}}}</option>     
        {{#each choices}}
            <option 
                {{#if checked}}
                    selected="selected"
                {{/if}}
                value="{{data_value}}">
                {{#ifHasImageLocalization display}}
                    <img class="odk-label-image" src="{{{localizeImage display}}}"></img>
                {{/ifHasImageLocalization}}
                {{#ifHasTextLocalization display}}
                    {{{localizeText display}}}
                {{/ifHasTextLocalization}}
            </option>
        {{/each}}
    </select>
</form>