<div id="container-{{promptId}}">
    <form action="javascript:void(0);" onsubmit="odkLeaveField(this);">
    <div class="form-group">
        {{> labelHint}}
        <input class="form-control" type="text" name="{{name}}" value="{{mediaPath}}" tabindex="0"
                style="background-color:lightgray;"
                disabled="true"
            >
        {{#if invalid}}
            <p>{{localizeText display.invalid_value_message}}</p>
        {{/if}}
        <button type="button" class="captureAction btn btn-default btn-lg" tabindex="0">{{localizeText display.new_button_label}}</button>
    </div>
    </form>

    <div class="mediaContainer">
        {{#if uriFragmentValue}}
            <img width="200" src="{{mediaPath}}"/>
        {{/if}}
    </div>
</div>