<div class="odk-screen{{#unless disableSwipeNavigation}}{{#if enableNavigation}}{{#if enableForwardNavigation}} swipeForwardEnabled{{/if}}{{#if enableBackNavigation}} swipeBackEnabled{{/if}}{{/if}}{{/unless}}" >
    {{#if showHeader}}
        <div class="row odk-header container">
            <div class="my-breakpoint {{#if hideNavigationButtonText}}my-breakpoint-no-nav-btn-text{{/if}}">
                <div class="col-xs-6">
                    <button type="button" class="odk-options-btn btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" tabindex="0">
                        <span>{{localizeText form_title}}</span>
                    </button>
                </div>
                <div class="col-xs-3 odk-header-back-btn">
                    <a class="odk-prev-btn btn btn-default btn-lg navbar-btn {{#unless enableBackNavigation}}disabled{{/unless}}" tabindex="0">
                    {{#unless hideNavigationButtonText}}<span class="glyphicon glyphicon-chevron-left" style="float:left"></span> {{localizeText 'back_button_label'}}{{/unless}}</a> 
                </div>
                <div class="col-xs-3 odk-next-btn">   
                    <a class="odk-next-btn btn btn-default btn-lg navbar-btn {{#unless enableForwardNavigation}}disabled{{/unless}}" tabindex="0">
                    {{#unless hideNavigationButtonText}}{{#if showAsContinueButton}}{{localizeText 'continue_button_label'}}{{else}}{{localizeText 'next_button_label'}}{{/if}} <span class="glyphicon glyphicon-chevron-right" style="float:right"></span>{{/unless}}</a>               
                </div>
            </div>
        </div>
    {{/if}}
    <div class="odk-scroll"><div class="odk-container container"></div>
</div>

    
    
  
    
<div data-role="content" class="odk-scroll"><div class="odk-container">
<div id="coverageContainer" class="refrigerator-container">

<h3>
    <span id="adultHeader">Adult Coverage</span>
    <!--<input id="adultCoverageApplyNRToAll" type="button" class="pull-right btn" value="Apply NR to all fields"> -->
</h3>

<div id="adultCoverageTable" class="facility-distribution-form-table coverage-table screen-overflow">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th id="groupVaccinationLabel" rowspan="2" colspan="2">Group Tetanus Vaccinations (doses)</th>
                <th id="targetGroupLabel" rowspan="2">Target Group</th>
                <th id="tetanusFirstLabel" colspan="3" class="center-justified">Tetanus 1st dose</th>
                <th id="tetanusSecondFifthLabel" colspan="3" class="center-justified">Tetanus 2nd-5th dose</th>
                <th id="totalTetanusLabel" rowspan="2">Total Tetanus</th>
                <th id="coverageRateLabel" rowspan="2">Coverage Rate</th>
                <th id="openedVialsLabel" rowspan="2">Opened Vials</th>
                <th id="wastageRateLabel" rowspan="2">Opened Vials Wastage Rate</th>
            </tr>
            <tr>
                <th id="healthCenter1Label">Health Center</th>
                <th id="outreach1Label">Outreach</th>
                <th id="total1Label">Total</th>
                <th id="healthCenter2To5Label">Health Center</th>
                <th id="outreach2To5Label">Outreach</th>
                <th id="total2To5Label">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="pregnantWomenLabel" colspan="2">Pregnant Women</td>
                <td id="targetGroup_1" class="col-target-group">
                    <span></span>
                </td>
                <td>
                    <div class="input-error-parent-cell" field-name="Dose1_PregnantWoman_HealthCenter"></div>
                    <div field-name="PW1_HC_NR_checkbox"></div>
                </td>
                <td>
                    <div class="input-error-parent-cell" field-name="Dose1_PregnantWoman_Outreach"></div>
                    <div field-name="PW1_O_NR_checkbox"></div>
                </td>
                <td id="totalTetanus1_1" class="col-total">
                    <div field-name="Dose1_PregnantWoman_sum"></div>
                </td>
                <td>
                    <div class="input-error-parent-cell" field-name="Dose2_PregnantWoman_HealthCenter"></div>
                    <div field-name="PW2_HC_NR_checkbox"></div>
                </td>
                <td>
                    <div class="input-error-parent-cell" field-name="Dose2_PregnantWoman_Outreach"></div>
                    <div field-name="PW2_O_NR_checkbox"></div>
                </td>
                <td id="totalTetanus2To5_1" class="col-total">
                    <div field-name="Dose2_PregnantWoman_sum"></div>
                </td>
                <td id="totalTetanus_1" class="col-total">
                    <div field-name="Total_PregnantWoman"></div>
                </td>
                <td id="coverageRate_1" class="col-coverage-rate">
                    <span></span>
                </td>
                <td class="vertical-middle-aligned" rowspan="7">
                    <div class="input-error-parent-cell" field-name="OpenedVials"></div>
                    <div field-name="OV_NR_checkbox"></div>
                </td>
                <td id="wastageRate" class="col-opened-vial vertical-middle-aligned" rowspan="7">
                    <span></span>
                </td>
            </tr>

            <tr>
                <td id="mifLabel" class="vertical-middle-aligned" rowspan="3">MIF 15-49 years</td>
                <td id="communityCell"><strong>Community</strong></td>
                <td id="targetGroup_2" class="col-target-group">
                    <span></span>
                </td>
                <td>
                    <div class="input-error-parent-cell" field-name="Dose1_MIFComm_HealthCenter"></div>
                    <div field-name="MIFCOMM1_HC_NR_checkbox"></div>
                </td>
                <td>
                    <div class="input-error-parent-cell" field-name="Dose1_MIFComm_Outreach"></div>
                    <div field-name="MIFCOMM1_O_NR_checkbox"></div>
                </td>
                <td id="totalTetanus1_2" class="col-total">
                    <div field-name="Dose1_MIFComm_sum"></div>
                </td>
                <td>
                    <div class="input-error-parent-cell" field-name="Dose2_MIFComm_HealthCenter"></div>
                    <div field-name="MIFCOMM2_HC_NR_checkbox"></div>
                </td>
                <td>
                    <div class="input-error-parent-cell" field-name="Dose2_MIFComm_Outreach"></div>
                    <div field-name="MIFCOMM2_O_NR_checkbox"></div>
                </td>
                <td id="totalTetanus2To5_2" class="col-total">
                    <div field-name="Dose2_MIFComm_sum"></div>
                </td>
                <td id="totalTetanus_2" class="col-total">
                    <div field-name="Total_MIFComm"></div>
                </td>
                <td id="coverageRate_2" class="col-coverage-rate">
                    <span></span>
                </td>
            </tr>
            <tr>
                <td id="studentsLabel">Students</td>
                <td id="targetGroup_3" class="col-target-group">
                    <span ></span>
                </td>
                <td></td>
                <td>
                    <div class="input-error-parent-cell" field-name="Dose1_MIFStudents_Outreach"></div>
                    <div field-name="MIFS1_O_NR_checkbox"></div>
                </td>
                <td id="totalTetanus1_3" class="col-total">
                    <div field-name="Dose1_MIFStudents_sum"></div>
                </td>
                <td></td>
                <td>
                    <div class="input-error-parent-cell" field-name="Dose2_MIFStudents_Outreach"></div>
                    <div field-name="MIFS2_O_NR_checkbox"></div>
                </td>
                <td id="totalTetanus2To5_3" class="col-total">
                    <div field-name="Dose2_MIFStudents_sum"></div>
                </td>
                <td id="totalTetanus_3" class="col-total">
                    <div field-name="Total_MIFStudents"></div>
                </td>
                <td id="coverageRate_3" class="col-coverage-rate">
                    <span></span>
                </td>
            </tr>
            <tr>
                <td id="workersLabel">Workers</td>
                <td id="targetGroup_4" class="col-target-group">
                    <span></span>
                </td>
                <td></td>
                <td>
                    <div class="input-error-parent-cell" field-name="Dose1_MIFWorkers_Outreach"></div>
                    <div field-name="MIFW1_O_NR_checkbox"></div>
                </td>
                <td id="totalTetanus1_4" class="col-total">
                    <div field-name="Dose1_MIFWorkers_sum"></div>
                </td>
                <td></td>
                <td>
                    <div class="input-error-parent-cell" field-name="Dose2_MIFWorkers_Outreach"></div>
                    <div field-name="MIFW2_O_NR_checkbox"></div>
                </td>
                <td id="totalTetanus2To5_4" class="col-total">
                    <div field-name="Dose2_MIFWorkers_sum"></div>
                </td>
                <td id="totalTetanus_4" class="col-total">
                    <div field-name="Total_MIFWorkers"></div>
                </td>
                <td id="coverageRate_4" class="col-coverage-rate">
                    <span></span>
                </td>
            </tr>
            <tr>
                <td id="studentNotMifLabel" colspan="2">Students not MIF</td>
                <td id="targetGroup_5" class="col-target-group">
                    <span></span>
                </td>
                <td></td>
                <td>
                    <div class="input-error-parent-cell" field-name="Dose1_Students_notMIF_Outreach"></div>
                    <div field-name="S1_O_NR_checkbox"></div>
                </td>
                <td id="totalTetanus1_5" class="col-total">
                    <div field-name="Dose1_Students_notMIF_sum"></div>
                </td>
                <td></td>
                <td>
                    <div class="input-error-parent-cell" field-name="Dose2_Students_notMIF_Outreach"></div>
                    <div field-name="S2_O_NR_checkbox"></div>
                </td>
                <td id="totalTetanus2To5_5" class="col-total">
                    <div field-name="Dose2_Students_notMIF_sum"></div>
                </td>
                <td id="totalTetanus_5" class="col-total">
                    <div field-name="Total_Students_notMIF"></div>
                </td>
                <td id="coverageRate_5" class="col-coverage-rate">
                    <span></span>
                </td>
            </tr>
            <tr>
                <td id="workerNotMif" colspan="2">Workers not MIF</td>
                <td id="targetGroup_6" class="col-target-group">
                    <span></span>
                </td>
                <td></td>
                <td>
                    <div class="input-error-parent-cell" field-name="Dose1_Workers_notMIF_Outreach"></div>
                    <div field-name="W1_O_NR_checkbox"></div>
                </td>
                <td id="totalTetanus1_6" class="col-total">
                    <div field-name="Dose1_Workers_notMIF_sum"></div>
                </td>
                <td></td>
                <td>
                    <div class="input-error-parent-cell" field-name="Dose2_Workers_notMIF_Outreach"></div>
                    <div field-name="W2_O_NR_checkbox"></div>
                </td>
                <td id="totalTetanus2To5_6" class="col-total">
                    <div field-name="Dose2_Workers_notMIF_sum"></div>
                </td>
                <td id="totalTetanus_6" class="col-total">
                    <div field-name="Total_Workers_notMIF"></div>
                </td>
                <td id="coverageRate_6" class="col-coverage-rate">
                    <span></span>
                </td>
            </tr>
            <tr>
                <td id="otherNotMifLabel" colspan="2">Other not MIF</td>
                <td id="targetGroup_7" class="col-target-group">
                    <span></span>
                </td>
                <td>
                    <div class="input-error-parent-cell" field-name="Dose1_Other_notMIF_HealthCenter"></div>
                    <div field-name="O1_HC_NR_checkbox"></div>
                </td>
                <td>
                    <div class="input-error-parent-cell" field-name="Dose1_Other_notMIF_Outreach"></div>
                    <div field-name="O1_O_NR_checkbox"></div>
                </td>
                <td id="totalTetanus1_7" class="col-total">
                    <div field-name="Dose1_Other_notMIF_sum"></div>
                </td>
                <td>
                    <div class="input-error-parent-cell" field-name="Dose2_Other_notMIF_HealthCenter"></div>
                    <div field-name="O2_HC_NR_checkbox"></div>
                </td>
                <td>
                    <div class="input-error-parent-cell" field-name="Dose2_Other_notMIF_Outreach"></div>
                    <div field-name="O2_O_NR_checkbox"></div>
                </td>
                <td id="totalTetanus2To5_7" class="col-total">
                    <div field-name="Dose2_Other_notMIF_sum"></div>
                </td>
                <td id="totalTetanus_7" class="col-total">
                    <div field-name="Total_Other_notMIF"></div>
                </td>
                <td id="coverageRate_7" class="col-coverage-rate">
                    <span></span>
                </td>
            </tr>
            <tr>
                <td id="totalRowLabel" colspan="2">
                    <span>Total</span>
                </td>
                <td class="col-total"><span></span></td>
                <td id="totalHealthCenterTetanus1" class="col-total">
                    <div field-name="Total_Dose1_HealthCenter"></div>
                </td>
                <td id="totalOutreachTetanus1" class="col-total">
                    <div field-name="Total_Dose1_Outreach"></div>
                </td>
                <td id="totalTetanus1" class="col-total">
                    <div field-name="Total_Dose1"></div>
                </td>
                <td id="totalHealthCenterTetanus2To5" class="col-total">
                    <div field-name="Total_Dose2_HealthCenter"></div>
                </td>
                <td id="totalOutreachTetanus2To5" class="col-total">
                    <div field-name="Total_Dose2_Outreach"></div>
                </td>
                <td id="totalTetanus2To5" class="col-total">
                    <div field-name="Total_Dose2"></div>
                </td>
                <td id="totalTetanus" class="col-total">
                    <div field-name="Total_Tetanus"></div>
                </td>
                <td class="col-total"><span></span></td>
                <td class="col-total"><span></span></td>
                <td class="col-total"><span></span></td>
            </tr>
        </tbody>
    </table>

</div></div>
</div></div>
    
    
    
    
    
{{! emit the footer always -- so that we get full-screen content area }}
{{#if showFooter}} 
    <div class="row odk-footer container">
        <div class="my-breakpoint {{#if hideNavigationButtonText}}my-breakpoint-no-nav-btn-text{{/if}}">
            <div class="col-xs-3 odk-footer-back-btn ">
                <a class="odk-prev-btn btn btn-default btn-lg navbar-btn {{#unless enableBackNavigation}}disabled{{/unless}}" tabindex="0">
                {{#unless hideNavigationButtonText}}<span class="glyphicon glyphicon-chevron-left" style="float:left"></span> {{localizeText 'back_button_label'}}{{/unless}}</a> 
            </div>
            <div class="col-xs-6">

            </div>
            <div class="col-xs-3 odk-next-btn">   
                <a class="odk-next-btn btn btn-default btn-lg navbar-btn {{#unless enableForwardNavigation}}disabled{{/unless}}" tabindex="0" >
                {{#unless hideNavigationButtonText}}{{#if showAsContinueButton}}{{localizeText 'continue_button_label'}}{{else}}{{localizeText 'next_button_label'}}{{/if}} <span class="glyphicon glyphicon-chevron-right" style="float:right"></span>{{/unless}}</a>               
            </div>
        </div>
    </div>
{{/if}}